<!doctype html>
<html>
<%= erb :"partials/head" %>
<body>

<div class="section" id="main">
  <div class="container">

    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="is-size-3">
            Rttp&nbsp;<small class="is-size-5"><%= version %></small>
            <br/>
          </h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>

    <div class="directory m-b-md">
      <i class="fas fa-folder"></i>&nbsp;<%= directory %>
    </div>

    <div class="table-container">
      <table class="table is-fullwidth is-hoverable">
        <tbody>
        <% contents.each do |item| %>
          <tr>
            <td>
              <a href="<%= item[:url] %>">
                <% if item[:is_file] == true %>
                  <i class="far fa-file"></i>
                <% else %>
                  <i class="fas fa-folder" style="color: #56A3A6"></i>
                <% end %>
                <%= item[:name] %>
              </a>
            </td>
            <td class="is-narrow">
              <% if item[:is_file] == true %>
                <%= item[:file_size] %>
              <% else %>
                <%= item[:item_count] %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>

<%= erb :"partials/footer" %>
</body>
</html>