<!doctype html>
<html>
  <%= erb :"partials/head" %>
  <body>
      
    <div class="section" id="main">
      <div class="container">
         <h1>Logged out</h1>
          <a href="/">Sign in</a>
      </div>
    </div>

    <%= erb :"partials/footer" %>
  </body>
</html>